h1{
       background-color: black;
       color: red;
       padding: 10px;
       text-align: center;
       font-family: Georgia, 'Times New Roman', Times, serifgit;
       display: inline-block;
       margin-left: 400px;
       border-radius: 20px;

}